{% extends 'partials/base.html.twig' %}
{% block header %}{% endblock %}
{% block content %}

  <div class="container">
    {% if page.title == "Gallery" %}
		{% for p in pages.find('/gallery').children if p != page %}
			{% for image in p.media.images %}
				{{image.html}}
			{% endfor %}
		{% endfor %}
	{% else %}
		{% for image in page.media.images %}
			{{image.html}}
		{% endfor %}
	{% endif %}
  </div>

{% endblock %}
{% block footer %}{% endblock %}