<div class="about-wrapper">
	<div id="about-text1" class="abouttext">
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus viverra tempus interdum. Maecenas posuere, est quis varius sollicitudin, eros ligula bibendum quam, vitae tristique nisi est venenatis tellus. Vestibulum tristique.
	</div>
	<div id="about-img" class="aboutimg">
	 {{ page.content }}
	</div>
	<div id="about-text2" class="abouttext">
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vulputate tempus bibendum. Fusce sit amet est quis magna dapibus porttitor. Proin condimentum id tortor et posuere. Etiam ac justo rhoncus, placerat massa quis, pretium enim. Aenean finibus, sem non viverra.
	</div>
</div>