<div class="about-wrapper">
	<div id="about_picture_wrap">
		<div id="about_pic1" class="aboutpic"><img src="{{ page.media['about1.jpg'].url }}"></div>
		<div id="about_pic2" class="aboutpic"><img src="{{ page.media['about2.jpg'].url }}"></div>
		<div id="about_pic3" class="aboutpic"><img src="{{ page.media['about3.jpeg'].url }}"></div>
	</div>
	
	 {{ page.content }}
	
	<div id="button-wrapper">
		<div id="button-inner-wrap">
			<div id="fb_button"></div>
			<div id="twitter_button"></div>
		</div>
	</div>
</div>