<div class="gallery_wrap">
	<div class="grid">
			{% for p in page.find('/gallery').children if p != page %}
				{% for image in p.media.images%}
					<div class="imgbox">{{ image.html }}</div>
				{% endfor %}
			{% endfor %}
	</div>

</div>